/* Create Board */
.board-title {
  position: relative;
  color: white;
  text-decoration: none;
  margin-left: .5rem;
  z-index: 3;
}

.board-title:hover {
  color: white;
}

.bg-con {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 70%;
  z-index: 5;
}

.edit-board-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: max-content;
  padding: 2rem;
  background-color: #026299;
  border-radius: 5px;
  z-index: 6;
}

.editboard-outer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fafbfc;
  background-color: rgba(0, 0, 0, .5);

}