/* Project Section */
.project-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.project-icon:hover {
  cursor: pointer;
}

.new-project {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  border: 3px dashed gray;
}

.new-project:hover {
  background-color: rgb(193, 191, 191);
}

.assigned-pics {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.assigned-pics:hover {
  cursor: pointer;
  transform: scale(5);
}