<div class="mx-2 mb-2 ">
  <%= link_to "Your Projects",view_projects_path, class:" #{'nav-active' if request.original_url.include? "yourprojects"}"  %>

  <% if current_user.email == "jpbocatija@cem-inc.org.ph" %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"}" %>
  <% elsif current_user.admin == true %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"}" %>
  <% elsif current_user.host == true %>
    <%= link_to "All Projects",view_allprojects_path, class:" #{'nav-active' if request.original_url.include? "allprojects"}" %>
  <% end %>
</div>

<script>


</script>